<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
  <head>
    <title>AAC Communicator</title>
    <meta
      id="viewPortMeta"
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <meta
      name="google-site-verification"
      content="UWnxfeRniUm-l7GAbNdqfZQmCCaAU3HB6jGOuEHZ26k"
    />

    <link rel="shortcut icon" href="app/img/logo.svg" type="image/svg+xml" />
    <link rel="icon" href="app/img/logo.svg" type="image/svg+xml" />
    <link rel="manifest" href="app/manifest.webmanifest" />

    <link rel="stylesheet" href="app/css/fontawesome/css/all.css" />
    <link rel="stylesheet" href="app/css/custom.css" />
    <link rel="stylesheet" href="app/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="app/css/skeleton.css" />
    <link rel="stylesheet" href="app/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="app/css/grid-styles.css" />
  </head>
  <body onload="window.loaded = true;">
    <div style="display: none" aria-hidden="false">
      {{ $t('accessKey1NavigationAccessKey2Main') }}
    </div>
    <div id="app" class="holy-grail">
      <h1 class="sr-only">AAC Communicator</h1>
      <div
        id="touchElement"
        class="grid-container"
        style="
          z-index: 2;
          display: none;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
        "
      ></div>
      <audio
        style="display: none"
        id="audioPlayer"
        src=""
        preload="none"
      ></audio>
      <video
        style="display: none"
        id="videoPlayer"
        src=""
        preload="none"
      ></video>
      <notification-bar ref="notificationBar"></notification-bar>
      <progress-bar-modal
        v-show="showModal === modalTypes.MODAL_PROGRESSBAR"
        ref="progressBar"
        @close="showModal = null"
      ></progress-bar-modal>
      <search-modal
        v-if="showModal === modalTypes.MODAL_SEARCH"
        @close="showModal = null;"
        :route-to-edit="false"
        :options="modalOptions"
      ></search-modal>
      <message-box
        v-show="showModal === modalTypes.MODAL_MESSAGEBOX"
        ref="messageBox"
        @close="showModal = null"
      ></message-box>
      <tile-visibility-modal
        v-if="showModal === modalTypes.MODAL_TILE_VISIBILITY"
        @close="showModal = null;"
      ></tile-visibility-modal>
      <manage-students-modal
        v-if="showModal === modalTypes.MODAL_MANAGE_STUDENTS"
        @close="showModal = null;"
      ></manage-students-modal>
      <div class="grid-container grid-mask" v-if="false">
        <i class="fas fa-4x fa-spinner fa-spin" style="top: 40%"></i>
        <div
          style="
            position: fixed;
            top: 50%;
            width: 100%;
            text-align: center;
            font-size: 2em;
          "
        >
          <span>loading...</span>
        </div>
      </div>
      <login-view v-if="showLoginView" @loggedIn="showLoginView = false"></login-view>
      <div class="holy-grail-body" v-cloak>
        <div
          class="holy-grail-sidebar-1 hg-sidebar no-print"
          v-show="showSidebar"
        >
          <div style="flex: 0 0 auto">
            <div class="show-mobile">
              <a
                tabindex="1"
                href="javascript:void(0)"
                :aria-label="$t('closeSidebar')"
                @click="closeSidebar()"
                ><button tabindex="-1">
                  <i class="fas fa-2x fa-bars inline"></i></button
              ></a>
            </div>
            <div class="hide-mobile" style="display: inline-flex">
              <a
                tabindex="1"
                href="javascript:void(0)"
                :aria-label="$t('closeSidebar')"
                @click="closeSidebar()"
                style="margin: 0.2em 0.5em 0 1.2em"
                ><i class="fas fa-2x fa-bars inline"></i
              ></a>
              <a
                tabindex="-1"
                aria-hidden="true"
                href="javascript:void(0)"
                @click="toMain"
                ><h1 class="inline hide-mobile">
                  <img
                    id="appIcon"
                    src="app/img/logo.svg"
                    height="40"
                    alt="AAC Communicator"
                  /></h1
              ></a>
            </div>
          </div>

          <nav
            role="navigation"
            class="srow content"
            style="flex: 1 1 auto"
            accesskey="1"
          >
            <div v-if="currentUser">
              <br class="show-mobile" aria-hidden="true" />
              <ul>
                <li>
                  <a
                    tabindex="2"
                    href="javascript:void(0)"
                    @click="toMain"
                    :aria-label="$t('mainView')"
                    ><button tabindex="-1">
                      <i class="fas fa-2x fa-home"></i
                      ><span class="hide-mobile">{{ $t('mainView') }}</span>
                    </button></a
                  >
                </li>
                <li>
                  <a
                    tabindex="3"
                    href="javascript:void(0)"
                    @click="showModal = modalTypes.MODAL_TILE_VISIBILITY; closeSidebar();"
                    :aria-label="$t('manageTiles')"
                    v-if="currentAuthUser && currentAuthUser.role === 'caregiver'"
                    ><button tabindex="-1">
                      <i class="fas fa-2x fa-eye"></i
                      ><span class="hide-mobile">{{ $t('manageTiles') }}</span>
                    </button></a
                  >
                </li>
                <li v-if="currentAuthUser && currentAuthUser.role === 'caregiver'">
                  <a
                    tabindex="4"
                    href="javascript:void(0)"
                    @click="showManageStudents(); closeSidebar();"
                    :aria-label="$t('manageStudents')"
                  ><button tabindex="-1">
                    <i class="fas fa-2x fa-users"></i
                    ><span class="hide-mobile">{{ $t('manageStudents') }}</span>
                  </button></a>
                </li>
              </ul>
              <div v-if="currentAuthUser && currentAuthUser.role === 'student'" style="padding: 0.5em 1em; font-size: 0.85em; color: #555; border-top: 1px solid #eee; margin-top: 0.5em;">
                <i class="fas fa-id-card"></i>
                <span class="hide-mobile"> Student ID: <strong>{{ currentAuthUser.studentId }}</strong></span>
              </div>
              <ul>
                <li style="margin-top: 1em;">
                  <a
                    tabindex="5"
                    href="javascript:void(0)"
                    @click="logout()"
                    :aria-label="$t('logout')"
                  ><button tabindex="-1" style="background: #f44336; color: white;">
                    <i class="fas fa-2x fa-sign-out-alt"></i
                    ><span class="hide-mobile">{{ $t('logout') }}</span>
                  </button></a>
                </li>
              </ul>
            </div>
          </nav>
          <div style="flex: 0 0 auto" id="syncVisualizationWrapper"></div>
        </div>
        <main role="main" class="holy-grail-content" accesskey="2">
          <!-- Main page content -->
          <div class="srow content text-content" v-if="!component">
            <div class="grid-container grid-mask">
              <i class="fas fa-4x fa-spinner fa-spin"></i>
            </div>
          </div>
          <component
            v-if="component"
            v-bind:is="component"
            v-bind="properties"
            :key="componentKey"
          ></component>
        </main>
      </div>
    </div>

    <!-- browser compatibility checks and polyfills -->
    <script type="text/javascript" src="app/lib/modernizr-custom.js"></script>
    <script type="text/javascript">
      // polyfill for String.replaceAll, https://stackoverflow.com/questions/1144783/how-do-i-replace-all-occurrences-of-a-string-in-javascript
      if (!String.prototype.replaceAll) {
        Object.defineProperty(String.prototype, "replaceAll", {
          configurable: !0,
          writable: !0,
          enumerable: !1,
          value: function (search, replace) {
            return this.replace(
              Object.prototype.toString.call(search) === "[object RegExp]"
                ? search.global
                  ? search
                  : RegExp(
                      search.source,
                      /\/([a-z]*)$/.exec(search.toString())[1] + "g",
                    )
                : RegExp(
                    String(search).replace(/[.^$*+?()[{|\\]/g, "\\$&"),
                    "g",
                  ),
              replace,
            );
          },
        });
      }

      testEval("function x(a = 1){}", "default parameters");
      if (![].fill) {
        logAndRedirect("Browser doesn't support Array.fill");
      }

      checkModernizr("promises");
      checkModernizr("indexeddb");

      function checkModernizr(modernizrFeature) {
        Modernizr.on(modernizrFeature, function (result) {
          if (!result) {
            logAndRedirect(modernizrFeature);
          }
        });
      }

      function logAndRedirect(missingFeature) {
        console.warn("Browser doesn't support " + missingFeature + ".");
        window.location.replace("unsupported.html");
      }

      function testEval(evalString, msg) {
        try {
          eval(evalString);
        } catch (e) {
          console.log(e);
          logAndRedirect(msg);
        }
      }
    </script>

    <!-- libraries, not provided by npm -->
    <script src="app/lib/jquery.min.js"></script>
    <script src="app/lib/jquery-ui.min.js"></script>
    <script
      type="text/javascript"
      src="app/lib/jquery.contextMenu.min.js"
    ></script>
    <script type="text/javascript" src="app/lib/object-model.min.js"></script>
    <script type="text/javascript" src="app/lib/pouchdb-8.0.1.min.js"></script>
    <script type="text/javascript" src="app/lib/loglevel.min.js"></script>
    <script type="text/javascript" src="app/lib/sjcl.min.js"></script>

    <script type="text/javascript">
      if (Function.bind) {
        //remove RV log messages without altering RV source (forbidden by license)
        window.originalLog = console.log.bind(console);
        console.log = function () {
          if (
            [
              "ResponsiveVoice r1.6.5",
              "isHidden: false",
              "Prerender: false",
              "Configuring",
            ].indexOf(arguments[0]) !== -1
          ) {
            return;
          } else if (arguments[0] === "RV: Voice support ready") {
            console.log = window.originalLog;
          } else {
            window.originalLog.apply(null, arguments);
          }
        };

        //determine time needed for JSON.parse/stringify
        /**window.originalJSONParse = JSON.parse;
        window.originalJSONStringify = JSON.stringify;
        window.parseTime = 0;

        JSON.parse = function (arguments) {
            let start = new Date().getTime();
            let result = window.originalJSONParse(arguments);
            window.parseTime += (new Date().getTime() - start);
            console.warn(window.parseTime / 1000);
            return result;
        }

        JSON.stringify = function (arguments) {
            let start = new Date().getTime();
            let result = window.originalJSONStringify(arguments);
            window.parseTime += (new Date().getTime() - start);
            console.warn(window.parseTime / 1000);
            return result;
        }*/
      }
    </script>

    <script>
      var rvApiKey = "zGuJFLIV";
      var rvApiEndpoint =
        "https://texttospeech.responsivevoice.org/v1/text:synthesize";
    </script>
    <!--script src="https://code.responsivevoice.org/responsivevoice.js"></script-->
    <script type="text/javascript" src="app/lib/responsive-voice.js"></script>

    <script type="module" src="app/build/aac-grid.bundle.js"></script>
  </body>
</html>
